/* font */
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

/* utils */
.a11y-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Spoqa Han Sans Neo", "sans-serif";
  font-size: 1.6rem;
}

/* mobile */
.recruit-cont {
  width: calc(100% - 34px);
  margin: 100px auto;

  display: flex;
  flex-direction: column;
  gap: 4rem;
  height: 100vh;
  height: calc(100vh - 200px);

  height: fit-content;
  min-height: calc(100vh - 200px);
}

.intro-cont .intro-title {
  margin-bottom: 1.4rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 100%;
}
.intro-cont .strong {
  font-weight: 700;
}
.intro-cont .intro-desc {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2rem;
}

.field-list {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}
.field-list li {
  border-radius: 2rem;
  aspect-ratio: 356/205;
  padding: 3rem 2rem 2rem 3rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  color: #fff;
  font-size: 2rem;
  font-weight: 700;
}
.field-list .field-video {
  background: url("../images/background1.png") no-repeat center/cover;
}
.field-list .field-book {
  background: url("../images/background2.png") no-repeat center/cover;
}

.field-list .field-link {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 400;
  text-decoration: none;
  align-self: end;

  display: flex;
  gap: 0.2rem;
  align-items: center;
}
.field-list .field-link::after {
  content: "";
  width: 1.8rem;
  height: 1.8rem;
  display: inline-block;

  background: url("../images/icon-arrow-right.svg") no-repeat center / cover;
}

@media screen and (min-width: 576px) {
  .recruit-cont {
    width: calc(100% - 60px);
    gap: 6rem;
  }

  .intro-cont .intro-title {
    font-size: 7rem;
    font-size: min(7rem, 10vw);
    margin-bottom: 2rem;
  }
  .intro-cont .intro-desc {
    font-size: 1.8rem;
    line-height: 2.6rem;
  }

  .field-list {
    flex-direction: row;
    gap: 2rem;
  }
  .field-list li {
    flex: 1;
    aspect-ratio: 344/198;
    font-size: 2.4rem;
  }
  .field-list .field-link {
    font-size: 1.6rem;
    gap: 0.4rem;
  }
  .field-list .field-link::after {
    width: 2rem;
    height: 2rem;
  }
}

@media screen and (min-width: 1200px) {
  .recruit-cont {
    flex-direction: row;
    max-width: 120rem;
    margin-top: 24rem;
    justify-content: space-between;
    gap: 10.2rem;
  }
  .intro-cont .intro-desc {
    font-size: 2rem;
    line-height: 3rem;
  }
  .field-list {
    flex-direction: column;
    flex: 1;
  }
  .field-list li {
    padding: 4rem 3rem 3rem 4rem;
    font-size: 3rem;
    aspect-ratio: 486/280;
  }
}
